.indicator {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--indicator-items-gap);
  position: absolute;
  bottom: var(--indicator-surround-offset);
}

.indicator_item {
  width: var(--indicator-dot-diameter);
  height: var(--indicator-dot-diameter);
  border-radius: 50%;
  background-color: var(--indicator-bg-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.indicator_item[data-active=true] {
  background-color: var(--indicator-active-bg-color);
}