.indicator {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: var(--indicator-items-gap);
  position: absolute;
  bottom: var(--indicator-surround-offset);
}

.indicator_item {
  width: var(--indicator-solid-width);
  height: var(--indicator-solid-height);
  border-radius: var(--indicator-solid-border-radius);
  background-color: var(--indicator-bg-color);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.indicator_item_inner {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--indicator-active-bg-color);
  will-change: indicatorAnim;
}

.indicator_item[data-active=true] .indicator_item_inner {
  width: 100%;
}

.indicator_item[data-active=true] .animation {
  animation-name: indicatorAnim;
  animation-timing-function: linear;
}

@keyframes indicatorAnim {
  from { width: 0; }
  to { width: 100%; }
}